* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #EFE7E3;
    margin: 30px;
    font-family: 'Kaisei Tokumin', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-line {
    border: 1.5px solid black;
    width: 1280px;
}

hr {
    border: 0;
    height: 1.5px;
    background: black;
}

a {
    color: black;
    text-decoration: none;
}

/* -------header------- */

header {
    font-size: 20px;
}

.v-hr {
    border-left: 1.5px solid black;
    height: 50px;
}

.nav-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100%;
}

.login {
    position: relative;
    left: 550px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'El Messiri', sans-serif;
}

.nav > a {
    margin: 0 110px;
}

.nav > a:last-child {
    margin: 0;
}



/* -------home-------- */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img {
    opacity: 80%;
    width: 407px;
    height: 535px; 
}

.text h1 {
    font-size: 52px;
    color: #341300;
    line-height: 65px;
}

.text p {
    font-size: 20px;
    margin: 10px 0 20px;
    color: #484848;
}

.btn {
    border: 1px dashed black;
    padding: 3px 5px;
    
}

/* ------- best -------- */
.best h1 {
    font-family: 'El Messiri', sans-serif;
    font-size: 24px;
    letter-spacing: 0.565em;
    transform: rotate(-90deg);
}

.img-frame {
    box-sizing: border-box;
    width: 469px;
    height: 377px;
    background: #E7D9D3;
    border: 1.5px solid black; 
    margin: 0 70px;
}

.best-margin {
    margin: 100px 0;
}

.best p {
    width: 447px;
    height: 192px;

    font-family: 'Kaisei Tokumin';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;

    color: #484848;
}