.category-list {
  text-align: start;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #3a1b11;
}

.search-bar .title {
  padding: 0 45px;
}

.search-bar .white-bg {
  border-left: 2px solid #3a1b11;
  background-color: #fff;
}

.search-bar input {
  border: 0;
  height: 55px;
  width: 30vw;
  margin: 0 20px;
}

.search-bar i {
  padding-right: 30px;
}

.content {
  margin: 20px;
  border: 2px solid #3a1b11;
  background-color: #fff;
  width: 300px;
  height: 260px;
}

.content .img {
  width: 300px;
  height: 200px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  background-color: #e8dad6;
  border-top: 2px solid #3a1b11;
  height: 58px;
}
