header {
  border-bottom: 2px solid #3a1b11;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
}

header i {
  font-size: 30px;
}

.nav a li {
  display: inline-block;
  margin: 10px 30px;
}

aside {
  border-right: 2px solid #3a1b11;
  width: 250px;
  padding: 35px;
}

.profile-img {
  width: 250px;
  height: 250px;
  border: 2px solid #3a1b11;
}

.profile-text {
  text-align: start;
  margin: 20px 0;
}

.profile-text h2 {
  font-weight: 400;
  margin-bottom: 10px;
}

section {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  margin: 2.5% auto;
}

.change {
  text-align: start;
}

.change div {
  width: 346px;
  height: 49px;
  background: #ffffff;
  border: 1.5px solid #1e1e1e;
}

.password div {
  width: 624px;
}
